:root {
    --main-color: #094EA7;
    --gray-light: #8F8F91;
    --gray-dark: #39393D;
    --white: #fefefe;
    --red: #A6170A;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    text-decoration: none;
    outline: none;
    transition: 0.2s linear;
}

body {
    overflow-x: hidden;
    width: 100vw;
    background-color: #f9f9f9;
}

/* HEADER */

.top>ul {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style-type: none;
}

.top > ul > li {
    position: relative; /* Necessário para o pseudo-elemento */
}

/* Adiciona marcador antes dos itens exceto o primeiro */
.top > ul > li:not(:first-child)::before {
    content: "•"; /* Marcador personalizado */
    position: absolute; /* Para posicionar antes do texto */
    left: -2.5rem; /* Ajuste horizontal para o marcador */
    color: var(--gray-light); /* Cor do marcador */
    font-size: 1.4rem; /* Tamanho do marcador */
}


.top>ul>li>a {
    color: var(--gray-light);
    font-size: 1.4rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
    gap: 15rem;
}

.logo {
    width: 25rem;
}

#search-btn {
    position: relative;
    left: 4rem;
    top: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;

}

.search {
    background: none;
    width: 30rem;
    height: 4rem;
    border-radius: 1.3023rem;
    border: 1.302px solid #39393D;
    padding-left: 5rem;
    font-size: 1.5rem;
    color: var(--gray-dark);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; /* Remove o botão de limpar */
    appearance: none; /* Garantia adicional */
}

.icons-header {
    display: flex;
    gap: 2rem;
    cursor: pointer;
}

.btn-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-header > p {
    color: var(--main-color);
    font-size: 1.5rem;
}

.cart-btn-header {
    margin: 0;
}

.cart-btn-header > p {
    width: 1rem;
    display: inline-block;
    position: absolute;
    text-align: center;
    font-weight: 600;
    right: 11.1rem;
    top: 9.5rem;
    color: var(--white);
}

.nav-container > ul {
    margin-top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    list-style-type: none;
    background-color: var(--main-color);
    height: 4.5rem;
}

.nav-container > ul > li > a {
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
}

/* MAIN */

.banners-container {
    max-width: 100%;
    display: flex;
}

.banner {
    width: 50vw;
    height: 35rem;
    
}

.banner img {
    width: 100%; /* Ajusta a imagem para ocupar toda a largura da div */
    height: 100%; /* Ajusta a altura para ocupar toda a div */
    object-fit: cover; /* Mantém o aspecto proporcional e preenche a área */
}

.notices {
    max-width: 100vw;
}

.notices img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-container {
    margin: 4rem 0 8rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.card {
    border-radius: 2rem;
    background: linear-gradient(316deg, #094EA7 0.53%, #008CAB 50%, #094EA7 99.47%);
    width: 30rem;
    height: 30rem;
    padding: 3rem;
    cursor: pointer;
}

.card h2 {
    color: var(--white);
    text-transform: uppercase;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
}

.card p {
    margin-top: 2rem;
    font-size: 1.7rem;
    color: var(--white);
}

.card img {
    width: 25rem;
    position: relative;
    right: -5rem;
}

.card .card-1 {
    width: 20rem;
}


/* PRODUTOS */

.products-container {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--blue-logo, #094EA7);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 10rem 1rem;
    border-bottom: 2px solid var(--gray-light) ;
    margin-bottom: 5rem;
}

.products-contents {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 colunas com tamanhos iguais */
    gap: 2rem; /* Espaço entre os itens */
}

.product {
    width: 24rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.product:hover {
    transform: scale(1.05);
}

.img-product {
    width: 22rem;
    height: 22rem;
    background-color: #ffffff;
    display: flex; /* Define flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border-radius: 1rem;
}

.img-product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;
    border-radius: 1rem;
}

.caption {
    width: 22rem;
    display: flex;
    flex-direction: column;
}

.product-name {
    color: var(--Gray, #39393D);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 2rem;
}

.prices {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 2rem 0 0.5rem;
}

.current-price {
    color: #00AA07;
    font-size: 2rem;
    font-weight: 800;
}

.old-price {
    color: var(--Gray, #39393D);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration-line: line-through;
}

.info {
    color: var(--Gray, #39393D);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.info strong {
    color: var(--Gray, #39393D);
    font-size: 1.4rem;
    font-weight: 800;
}

.info strong:nth-of-type(2){
    color: var(--red);
}

.all-products {
    margin: 2.5rem 0 5rem;
    color: var(--Red, #A6170A);
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration-line: underline;
    text-underline-position: from-font;
}

.banner-down {
    max-width: 100vw;
}

.banner-down img {
    width: 100%;
    margin-bottom: 4rem;
}

.highlights {
    display: flex;
    justify-content: center;
}